@font-face {
    font-family: 'Yekan';
    src:	url('eot/IRANYekanWebBlack.eot');
    src:	url('eot/IRANYekanWebBold.eot');
    src:	url('eot/IRANYekanWebExtraBlack.eot');
    src:	url('eot/IRANYekanWebExtraBold.eot');
    src:	url('eot/IRANYekanWebLight.eot');
    src:	url('eot/IRANYekanWebMedium.eot');
    src:	url('eot/IRANYekanWebRegular.eot');
    src:	url('eot/IRANYekanWebThin.eot');

 
}

@font-face {
    font-family: 'Yekan';
    src:	url('ttf/IRANYekanWebBlack.ttf');
    src:	url('ttf/IRANYekanWebBold.ttf');
    src:	url('ttf/IRANYekanWebExtraBlack.ttf');
    src:	url('ttf/IRANYekanWebExtraBold.ttf');
    src:	url('ttf/IRANYekanWebLight.ttf');
    src:	url('ttf/IRANYekanWebMedium.ttf');
    src:	url('ttf/IRANYekanWebRegular.ttf');
    src:	url('ttf/IRANYekanWebThin.ttf');

 
}

@font-face {
    font-family: 'Yekan';
    src:	url('woff/IRANYekanWebBlack.woff');
    src:	url('woff/IRANYekanWebBold.woff');
    src:	url('woff/IRANYekanWebExtraBlack.woff');
    src:	url('woff/IRANYekanWebExtraBold.woff');
    src:	url('woff/IRANYekanWebLight.woff');
    src:	url('woff/IRANYekanWebMedium.woff');
    src:	url('woff/IRANYekanWebRegular.woff');
    src:	url('woff/IRANYekanWebThin.woff');

 
}

@font-face {
    font-family: 'Yekan';
    src:	url('woff2/IRANYekanWebBlack.woff2');
    src:	url('woff2/IRANYekanWebBold.woff2');
    src:	url('woff2/IRANYekanWebExtraBlack.woff2');
    src:	url('woff2/IRANYekanWebExtraBold.woff2');
    src:	url('woff2/IRANYekanWebLight.woff2');
    src:	url('woff2/IRANYekanWebMedium.woff2');
    src:	url('woff2/IRANYekanWebRegular.woff2');

    src:	url('woff2/IRANYekanWebThin.woff2');

 
}
        